$whatsapp: #c6538c;
$email: #3e65cf;
$instagram: #e1306c;

.split-lists .split-list ul li{
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 12px;
  -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
  &:hover{
    padding-left: 10px;
    color: #CCC;
    cursor: pointer;
    background-color: #111111;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }
}

img.gal-img{
  height: 129px;
}

img.logo-img{
  position: absolute;
  top: 25%;
  height: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
}


  /* Hover for social media */
  li#wpp-btn:hover {
    color: #25d366;
  }
  li#email-btn:hover {
    color: #3e65cf;
  }
  li#insta-btn:hover {
    color: #e1306c;
  }


/* Camera */
figure.pic {
  text-align: center;
  font-size: 18px;
  -webkit-transform : rotate(-10deg);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  z-index: 1;
  img{
    width: 135px;
  }
  &:hover {
    -webkit-transform: scale(1.1,1.1);
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    z-index: 20;
  }
}


/* makeup-pallete */
$url1: 'https://i.ytimg.com/vi/ZJ_5S_2z2OM/maxresdefault.jpg';
$url2: 'https://cdn-ofuxico.akamaized.net/img/upload/noticias/2017/01/22/gey_284981_36.jpg';
$url3 : 'https://http2.mlstatic.com/curso-de-maquiagem-para-pele-negra-D_NQ_NP_951883-MLB30231496817_052019-F.jpg';

/* Object style */

$color1: #ecc19d;
$color2: #cd853f;
$color3: #624223;

$size: 50px;
$radius: 10px;
$margin: 10px;

div#gallery{
  position: relative;
  margin: auto;
  width: 2*$size + 3*$margin;
  height: 2*$size + 3*$margin;
  cursor: pointer;

  div.makeup-pallete#box{
    background: rgb(0,0,0);
    background: linear-gradient(-45deg, black 0%, #151515 39%, black 65%, #332a23 100%);
    position:relative;
    width: 2*$size + 3*$margin;
    height: 2*$size + 3*$margin;
    border-radius: $radius;
    @include perspective(solid 3px #7b695d);
    @include rotate(4deg);
    @include transition(all 1s ease);
    &:hover{
      @include rotate(0deg);
      @include perspective(none);
      @include boxShadow(-10px -10px 43px -9px #9d9d9d);
      @include transition(all 0.5s ease);
      p{
        opacity: 0;
        @include transition(all 0.5s ease);
      }
    }
    p{
      font-size: $size/3;
      text-align: center;
      line-height: $size;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      color: black;
      @include transition(all 0.5s ease);
    }
  }
  div.makeup-pallete{
    display: inline-block;
    position: relative;
    border-radius: $radius;
    margin-top: $margin;
    @include boxShadow(inset 0px 0px 40px 2px rgba(0,0,0,0.43));

    #color1{
      width: $size;
      height: $size;
      background-color: $color1;
      margin-left: $margin;
    }
    #color2{
      float: right;
      width: $size;
      height: (2*$size)+$margin;
      background-color: $color2;
      margin-right: $margin;
    }
    #color3{
      margin-top: $margin;
      margin-left: $margin;
      width: $size;
      height: $size;
      background-color: $color3;
    }

    &:hover #color1{
      @include transition(all 0.5s ease);
      background: url($url1) no-repeat center;
      background-size: cover;
    }
    &:hover #color2{
      @include transition(all 0.5s ease);
      background: url($url2) no-repeat center;
      background-size: cover;
    }
    &:hover #color3{
      @include transition(all 0.5s ease);
      background: url($url3) no-repeat center;
      background-size: 200%;
    }

  }
}
